TURSO_URL=
TURSO_TOKEN=
LOCAL_DB_PATH=data/kutit.db

DASHBOARD_API_KEY=cambiar-esta-clave
SESSION_SECRET=cambiar-por-un-valor-random

HONEYPOT_FIELD_NAME=_hp
ALLOWED_ORIGIN=https://www.clevercnc.com.ar
WHATSAPP_NUMBER=5493794099636
